<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="protobuf_vc120" target="protobuf" version = "2.6.0.1" pathversion="2_6_0_1" platformtoolset="v120" />
